<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ collection }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <a href="/collections" class="btn btn-primary mb-3">Go back</a>
    <table class="table table-striped">
        <thead>
            <tr>
                {% for header in headers %}
                <th scope="col">{{ header }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                {% for value in item.values %}
                <td>{{ value }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <!--
    IMPROVEMENT IDEA:
    Could be hidden after reaching max limit and/or for displaying all
    -->
    <a href="{{id}}?limit={{ next_limit }}" class="btn btn-primary mb-3">Load more</a>
</div>
</body>
</html>